/* ====IMPORTS==== */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* ====GENERAL STYLES==== */
html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* ===COLORS=== */
$primaryColorPaleBlue: hsl(225, 100%, 94%);
$primaryColorBrightBlue: hsl(245, 75%, 52%);

$neutralColorVeryPaleBlue: hsl(225, 100%, 98%);
$neutralColorDesaturatedBlue: hsl(224, 23%, 55%);
$neutralColorDarkBlue: hsl(223, 47%, 23%);

/* ===TYPOGRAPHY=== */
  @mixin typography() {
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
    font-weight: $fontWeightSimple;
  }
  /* ==FONT SIZE== */
$baseFontSize: 1em;

  /* ==FONT FAMILY== */
$baseFontFamily: 'Red Hat Display', sans-serif;

  /* ==FONT WEIGHT== */
$fontWeightSimple: 500;
$fontWeightMiddle: 700;
$fontWeightLarge: 900;


/* ====General Layout==== */
body { 
  @include typography();
  background-color: hsl(225, 100%, 94%);
  display: grid;
  grid-template: "banner" 35em
                "footer" .3em 
                / 100%;
  place-items: center;
  justify-content: center;
  align-content: center;
  gap: 1.6em;
}
.banner {
  width: 100%;
  height: 100vh;
  grid-area: banner;
  display: flex;
  justify-content: center;
  &__card {
    align-self: center;
    justify-self: center;
    width: 25em;
    height: 34em;
    margin-top: 1.5em;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .card__image{
      width: 100%;
      height: 11em;
      border-radius: 0.8em 0.8em 0em 0em;
    }
    .card__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;


      .card__title {
        display: flex;
        justify-content: center;
        color: $neutralColorDarkBlue;
        font-weight: $fontWeightLarge;
      }
      .card__info {
        align-self: center;
        text-align: center;
        width: 75%;
        margin-top: -.3em;
        color: $neutralColorDesaturatedBlue;
      }
      .card__pay-plan {
        align-self: center;
        text-align: center;
        width: 83%;
        background-color: $primaryColorBrightBlue;
        color: $primaryColorPaleBlue;
        text-decoration: none;
        font-weight: $fontWeightMiddle;
        padding: 1em 0;
        margin-top: 1.7em;
        border-radius: 0.8em;

        &--active:hover {
          opacity: .7;
        }
      }
      .card__cancel-plan {
        text-decoration: none;
        color: $neutralColorDesaturatedBlue;
        font-weight: $fontWeightMiddle;
        text-align: center;
        margin-top: 1.2em;


        &--active:hover {
          color: $neutralColorDarkBlue;
        }
      }

    }
    .card__plan {
      display: flex;
      align-self: center;
      align-items: center;
      width: 83%;
      background-color: hsla(216, 16%, 94%, 0.561);
      border-radius: 0.8em;
      height: 4em;
      margin-top: .2em;
      

      .plan__icon {
        width: 2.5em;
        margin-left: 1.2em;
      }
      .plan__column-title_price {
        margin-left: 1em;
      }
      .plan__title {
        font-size: $baseFontSize;
        margin-bottom: -0.9em;
        color: $neutralColorDarkBlue;
        font-weight: 900;
      }
      .plan__price {
        font-size: $baseFontSize;
        font-weight: $fontWeightSimple;
        color: $neutralColorDesaturatedBlue;
      }
      .plan__change {
        justify-self: flex-end;
        margin-left: 5em;
        margin-right: 0.2em;
        color: $primaryColorBrightBlue;
        font-weight: $fontWeightMiddle;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
    

  }
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: hsl(225, 100%, 94%);
}
.footer__content {
  text-align: center;
  
}
/* ====Desktop Layout==== */
@media screen and (min-width: 751px) {
  .banner{
    background: url(../../assets/images/pattern-background-desktop.svg) no-repeat top;
  }
} 

/* ====Mobile Layout==== */
@media screen and (min-width: 375px) and (max-width: 750px) {
  body {
    grid-template: "banner" 35em
                "footer" .3em 
                / 100%;
    place-items: center;
    justify-content: center;
    align-content: center;
    
  }
  .banner{
    background: url(../../assets/images/pattern-background-mobile.svg) no-repeat top;
  }
  .banner__card {
    margin-top: -1em;
    margin-bottom: -2em;
  }
  .footer__content {
    padding: 0em 1em 0em 1em;

  }
}





